@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import "reset.css";
@import "variables.css";

/* Component */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/mark.css";
@import "./components/icon-row.css";
@import "./components/alt-screen-header.css";
@import "./components/no-mobile.css";

/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";
@import "./screens/find.css";
@import "./screens/more.css";
@import "./screens/settings.css";
@import "./screens/chat.css";

body {
  padding-top: 25px;
  color: #2e363e;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif, 'Roboto', sans-serif;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
